:root{
    --main-bg-color: #edf0f5;
}

.max-width{
    max-width: 64rem;
    width: 100%;
}

.center-screen{
    margin: 0 auto;
}

.bg-white{
    background-color: #FFFFFF;
}

.padding{
    padding: 0.625rem;
}

body{
    background-color: var(--main-bg-color);
}

.navbar-nav{
    margin: 0 auto;
}